:root{
  --grey-disabled: rgb(228, 228, 228);
  --border-disabled: rgb(158, 158, 158);
  
  --grey-dark: rgb(39, 39, 39);
  --grey: rgb(72, 73, 74);
  --grey-light: rgb(205, 205, 205);
  --pink: (237, 195, 202);

}
